---
permalink: "sitemap.xml"
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
        xmlns:xhtml="http://www.w3.org/1999/xhtml">
  {% for entry in sitemapEntries %}
  <url>
    <loc>{{ entry.url }}</loc>
    <lastmod>{{ entry.lastmod }}</lastmod>
    {% for alternate in entry.alternates %}
    <xhtml:link rel="alternate" hreflang="{{ alternate.htmlLang }}" href="{{ alternate.url }}"/>
    {% endfor %}
    <xhtml:link rel="alternate" hreflang="x-default" href="{{ entry.alternates[0].url }}"/>
    <priority>{{ entry.priority }}</priority>
  </url>
  {% endfor %}
</urlset>
